
.navbox {
  position: fixed;
  top: -80px;
  width: 100%;
  height: 80px;
  transition: 0.3s;
  background: rgba(66,66,66,0.5);
  z-index: 99;
}
.navbox.onNavShow{
  top:0
}
.navbox .navlist{
  width: 322px;
  height: 100%;
  margin: 0 auto;
}
.navbox .navlist .navitem{
  position: relative;
  float: left;
  text-align: center;
  width: calc(100%/3);
  height: 100%;
  line-height: 75px;
  font-size: 18px;
  font-weight: bold;
}
.navbox .navlist .navitem a{
  color: #fff;
  transition: 0.2s;
  cursor: pointer;
}
.navbox .navlist .navitem a:hover{
  color: #cac9c9;
}

.navbox .navlist .navitem .select{
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(66,66,66,0.5);
  transition: 0.5s ease;
}
.navbox .navlist .navitem .select .selul{
  width: 100%;
}

.navbox .navlist .navitem .select .selul .selitem{
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #999;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  transition: 0.2s;
}
.navbox .navlist .navitem .select .selul .selitem:hover{
  color: #cac9c9;
}
.navshowbtn{
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  background: transparent;
  z-index: 999;
  cursor: pointer;
}
.navshowbtn i{
  font-size: 2em;
  color: #fff;
}